@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}


.layout {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.navBar {
  /* position: relative; */
}

.content-container {
  margin-top: 5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fade-in-normal {
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
  /* Delay the normal text */
  opacity: 0;
  /* Start hidden */
}

.no-animation {
  animation: none !important;
}

p.fade-in-normal span.no-animation {
  animation: none !important;
}